<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script >
        function init(){
            let myVideo = document.getElementById("myVideo");
            let canvasFrame = document.getElementById("canvasFrame");
            let canvasOutput = document.getElementById("canvasOutput");
            let videoWidth = 640;
            let videoHeight = 480;
            let context = canvasFrame.getContext("2d");

            function startVideoStream(){
              navigator.mediaDevices.getUserMedia({audio: false, video: { width: videoWidth, height: videoHeight }}).then(function(stream) {

                   myVideo.srcObject = stream;
                   myVideo.play();
                  
              }).catch(function(err) {
                  console.log("Unable to get video stream: " + err);
              });
            }
            startVideoStream();
            const FPS = 30;
            function processVideo() {
                let begin = Date.now();
                context.drawImage(myVideo, 0, 0, videoWidth, videoHeight);
                image_data = context.getImageData(0, 0, videoWidth, videoHeight).data;
                let delay = 1000/FPS - (Date.now() - begin);
                setTimeout(processVideo, delay);
            }
            // schedule first one.
            setTimeout(processVideo, 0);
        }
        


    </script>
</head>
<body onload="init()">
    <div id="mainContainer">
        <video id="myVideo" width="640" height="480" autoplay style="display: inline;"></video>
        <canvas id="canvasFrame" width="640" height="480" style="display: inline;"></canvas>
        <canvas id="canvasOutput" width="640" height="480" style="display: inline;"></canvas>
    </div>
</body>
</html>